.agent {
    min-height: 342px;
    background: url(../img/bg/agent_bg.jpg) center (center/cover) no-repeat;
    padding: 58px 0 75px 0;
    text-align: center;
    &__subtitle {
        font-size: 26px;
        font-weight: 700;
        color: #ffffff;
    }
    &__descrp {
        font-size: 19px;
        font-weight: 300;
        line-height: 1.42;
        color: #ffffff;
    }
    &_bg {
        background: url(../img/bg/managers_bg.jpg) center (center/cover) no-repeat;
    }
}
