.button {
    width: 160px;
    height: 45px;
    background-color: $orange-color;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    transition: 0.5s all;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    &:hover {
        box-shadow: 3px 3px 20px $orange-color;
        border: none;
        border-radius: none;
        text-decoration: none;
        color: #ffffff;
    }
    &:focus {
        outline: none;
    }
    &_main {
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
        line-height: 17px;
    }
    &_call {
        width: 180px;
        
    } 
}
.feed {
    &__button {
        width: 200px;
        padding: 0 10px;
        background-color: #ffffff;
        position: absolute;
        bottom: -24px;
        right: 50%;
        transform: translateX(50%);
    }
}
